openapi: '3.0.0'
info:
  version: 1.0.0
  title: Leonid 91 API
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /websites:
    get:
      summary: List all websites
      operationId: listWebsites
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of websites
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Websites'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create website
      operationId: createWebsite
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /websites/{siteId}:
    get:
      summary: Get website info
      operationId: showWebsiteById
      parameters:
        - name: siteId
          in: path
          required: true
          description: The id of the website to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Websites'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /domains:
    get:
      summary: List all domains
      operationId: listDomains
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of domains
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create domain
      operationId: createDomain
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Website:
      required:
        - id
        - url
      properties:
        id:
          type: integer
          format: int64
        url:
          type: string
        title:
          type: string
    Websites:
      type: array
      items:
        $ref: '#/components/schemas/Website'
    Domain:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
    Domains:
      type: array
      items:
        $ref: '#/components/schemas/Domain'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string